{% extends 'base.html'%}
{%load static%}
{%load cloudinary%}
{% block content %}
{{block.super}}
<div style="background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/static/img/background1.jpg); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed; height:75vh;"><br><br>
    <div class="text-center pt-5"><br><br><br><br><br><br><br><br><br><br>
        <h1 class="pt-5 fadeout" id="h1main">Discover Breathtaking, Peer-reviewed Projects</h1>
    </div>
</div>

<div class="container-fluid pb-5" id="mainprojview">
    <h2 class=" ml-5 pt-5 text-center underline">Projects for your Consideration</h2>
    <h5 class="text-muted text-center">As of {% now "jS \o\f F" %}</h5><br>
    <div class="row">
        {% for project in projects %}
        <div class="col-lg-3 p-3">
            <div class="card zoom" id="cardoffwhite">
                <a href="{% url 'project' project.id %}">
                <img src="{{project.project_image.url}}" style="width:100%;height:56%;" class="img-responsive" alt="Card Image"></a><hr>
                <h5 class="card-title pl-2 underline text-center"> {{project.title}}</h5>
                <div class="card-body">
                    <p class=""><strong>By:</strong> {{project.prof_ref.user.username}}</p>
                    <p class="card-text"><strong>About:</strong> {{project.description|truncatechars:150}}</p>
                    <a href="{% url 'project' project.id %}" class="card-link">View & Rate Project</a>
                </div><br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6"><p class=""><strong>Posted:</strong> {{project.pub_date|date:"D d M"}}</p><br><br></div>
                        <div class="col-md-6"><p class=""><strong>Average Rating:</strong> {{project.average_ratings|floatformat}}</p></div>
                    </div>
                </div>        
            </div>
        </div>
        {% endfor %}
    </div>
</div><br><br><br><br><br><br>

<script>
    const checkpoint = 400;
 
window.addEventListener("scroll", () => {
  const currentScroll = window.pageYOffset;
  if (currentScroll <= checkpoint) {
    opacity = 1 - currentScroll / checkpoint;
  } else {
    opacity = 0;
  }
  document.querySelector(".fadeout").style.opacity = opacity;
});
</script>
{% endblock %}
